In [1]:
import pandas as pd

In [2]:
PATH = './data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
# 1. How old were the youngest male and female participants of the 1996 Olympics?

In [5]:
ndata = data[data['Year'] == 1996]
ndata[ndata['Sex'] == "M"].sort_values(by='Age', ascending=True).head() # this shows the man would be 14 years old

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
87416,44326,Gwon Gyeong-Min,M,14.0,165.0,60.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Diving,Diving Men's Platform,NaN
170448,85647,Ng Sui,M,15.0,NaN,NaN,Hong Kong,HKG,1996 Summer,1996,Summer,Atlanta,Diving,Diving Men's Platform,NaN
139132,69887,"Keng Liat ""Alex"" Lim",M,15.0,178.0,63.0,Malaysia,MAS,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Backstroke,NaN
139133,69887,"Keng Liat ""Alex"" Lim",M,15.0,178.0,63.0,Malaysia,MAS,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Backstroke,NaN
80392,40801,Daniel A. Glomb,M,15.0,178.0,80.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Three Person Keelboat,NaN

In [6]:
# 2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.

In [7]:
n2data = data[data['Year'] == 2000]
n2data.drop_duplicates(inplace=False).info() # 100% is 13821. 13821 are females and males
n2data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13821 entries, 31 to 271108
Data columns (total 15 columns):
ID        13821 non-null int64
Name      13821 non-null object
Sex       13821 non-null object
Age       13820 non-null float64
Height    13698 non-null float64
Weight    13695 non-null float64
Team      13821 non-null object
NOC       13821 non-null object
Games     13821 non-null object
Year      13821 non-null int64
Season    13821 non-null object
City      13821 non-null object
Sport     13821 non-null object
Event     13821 non-null object
Medal     2004 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.7+ MB

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
31,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
33,13,Minna Maarit Aalto,F,34.0,159.0,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN
57,18,Timo Antero Aaltonen,M,31.0,189.0,130.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's Shot Put,NaN
81,23,Fritz Aanes,M,22.0,187.0,89.0,Norway,NOR,2000 Summer,2000,Summer,Sydney,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN
93,30,Pepijn Aardewijn,M,30.0,189.0,72.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Double Sculls,NaN
103,36,Stefan Remco Aartsen,M,25.0,194.0,78.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 100 metres Butterfly,NaN
104,36,Stefan Remco Aartsen,M,25.0,194.0,78.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Butterfly,NaN
146,53,Talaat Abada,M,24.0,172.0,58.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Taekwondo,Taekwondo Men's Flyweight,NaN
165,68,Pablo Martn Abal,M,23.0,178.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 100 metres Butterfly,NaN
166,68,Pablo Martn Abal,M,23.0,178.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN
168,70,Jess Iory Aball Martnez,M,26.0,167.0,65.0,Cuba,CUB,2000 Summer,2000,Summer,Sydney,Diving,Diving Men's Platform,NaN
178,76,Jouan Patrice Abanda Etong,M,22.0,185.0,82.0,Cameroon,CMR,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Gold
184,82,Enrique Abaroa Martnez,M,26.0,183.0,75.0,Mexico,MEX,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
220,106,Agostino Abbagnale,M,34.0,188.0,96.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Quadruple Sculls,Gold
242,118,Mahmoud Abbas,M,22.0,165.0,65.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Men's Road Race, Individual",NaN
247,123,Sohail Abbas,M,25.0,178.0,80.0,Pakistan,PAK,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
259,131,Tran Abbasova,F,33.0,159.0,53.0,Azerbaijan,AZE,2000 Summer,2000,Summer,Sydney,Weightlifting,Weightlifting Women's Featherweight,NaN
262,134,Christian Abbiati,M,23.0,192.0,90.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,NaN
264,136,Alessandro Abbio,M,29.0,195.0,85.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,NaN
270,140,"William ""Bill"" Abbott Jr.",M,46.0,172.0,80.0,Canada,CAN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Mixed Three Person Keelboat,NaN
285,152,Matt Abbott,M,34.0,185.0,91.0,Canada,CAN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Mixed Three Person Keelboat,NaN
288,155,Mohamed Ibrahim Abd El-Fatah Mohamed,M,22.0,185.0,98.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN
318,171,Mahmoud Abdel Aziz,M,25.0,174.0,70.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Volleyball,Volleyball Men's Volleyball,NaN
319,172,Mohamed Abdel Ellah,M,32.0,168.0,68.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Shooting,"Shooting Men's Air Rifle, 10 metres",NaN
324,177,Mohamed Abdel Fattah,M,23.0,174.0,69.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Men's Road Race, Individual",NaN
329,180,Heba Abdel Gawad,F,18.0,154.0,48.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Synchronized Swimming,Synchronized Swimming Women's Duet,NaN
331,181,Sara Abdel Gawad,F,18.0,153.0,46.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Synchronized Swimming,Synchronized Swimming Women's Duet,NaN
390,216,Kamal Abdel Rehim,M,26.0,190.0,95.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Coxless Fours,NaN
391,217,Reskalla Mohamed Abdel Rehim,M,22.0,165.0,48.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Light-Flyweight,NaN
392,218,Ahmed Ali Abdel Samad,M,27.0,195.0,95.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Super-Heavyweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270562,135321,Hedda zu Putlitz,F,35.0,188.0,71.0,Germany,GER,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Women's Mountainbike, Cross-Country",NaN
270632,135352,Attila Zubor,M,25.0,191.0,92.0,Hungary,HUN,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 50 metres Freestyle,NaN
270633,135352,Attila Zubor,M,25.0,191.0,92.0,Hungary,HUN,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 100 metres Freestyle,NaN
270634,135352,Attila Zubor,M,25.0,191.0,92.0,Hungary,HUN,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Freestyle,NaN
270635,135352,Attila Zubor,M,25.0,191.0,92.0,Hungary,HUN,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN
270645,135358,Oleksandr Valeriyovych Zubrikhin,M,25.0,180.0,75.0,Ukraine,UKR,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,NaN
270712,135382,Eli Zuckerman,M,27.0,177.0,60.0,Israel,ISR,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Men's Two Person Dinghy,NaN
270728,135394,Niels Zuidweg,M,26.0,190.0,90.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Water Polo,Water Polo Men's Water Polo,NaN
270729,135395,"Wilhelmus Gerardus ""Wilco"" Zuijderwijk",M,30.0,191.0,90.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
270730,135395,"Wilhelmus Gerardus ""Wilco"" Zuijderwijk",M,30.0,191.0,90.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Cycling,Cycling Men's Points Race,NaN
270731,135396,Martijn Hendrik Zuijdweg,M,23.0,186.0,83.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Freestyle,NaN
270732,135396,Martijn Hendrik Zuijdweg,M,23.0,186.0,83.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Bronze
270736,135399,Daugvinas Zujus,M,24.0,182.0,65.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's 50 kilometres Walk,NaN
270741,135401,Eurelijus ukauskas,M,27.0,218.0,115.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Bronze
270766,135411,Alex Zlle,M,32.0,185.0,72.0,Switzerland,SUI,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Men's Road Race, Individual",NaN
270767,135411,Alex Zlle,M,32.0,185.0,72.0,Switzerland,SUI,2000 Summer,2000,Summer,Sydney,Cycling,Cycling Men's Individual Time Trial,NaN
270775,135417,Fabiola Zuluaga Amado,F,21.0,171.0,65.0,Colombia,COL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
270776,135417,Fabiola Zuluaga Amado,F,21.0,171.0,65.0,Colombia,COL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
270820,135444,Juan Zunzunegui Guimerans,M,24.0,177.0,70.0,Spain,ESP,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Double Sculls,NaN
270847,135458,Rami Zur,M,23.0,175.0,77.0,Israel,ISR,2000 Summer,2000,Summer,Sydney,Canoeing,"Canoeing Men's Kayak Doubles, 500 metres",NaN
270848,135458,Rami Zur,M,23.0,175.0,77.0,Israel,ISR,2000 Summer,2000,Summer,Sydney,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",NaN
270970,135501,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,39.0,183.0,100.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's Discus Throw,Gold
270979,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
270980,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
271008,135520,Julia Zwehl,F,24.0,167.0,60.0,Germany,GER,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Women's Hockey,NaN
271011,135522,"Klaas Erik ""Klaas-Erik"" Zwering",M,19.0,189.0,80.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Backstroke,NaN
271012,135522,"Klaas Erik ""Klaas-Erik"" Zwering",M,19.0,189.0,80.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271105,135565,Fernando scar Zylberberg,M,23.0,168.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN

In [8]:
n3data = n2data[n2data['Sex'] == "M"].drop_duplicates(inplace=False)
n3data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
31,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
57,18,Timo Antero Aaltonen,M,31.0,189.0,130.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's Shot Put,NaN
81,23,Fritz Aanes,M,22.0,187.0,89.0,Norway,NOR,2000 Summer,2000,Summer,Sydney,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN
93,30,Pepijn Aardewijn,M,30.0,189.0,72.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Double Sculls,NaN
103,36,Stefan Remco Aartsen,M,25.0,194.0,78.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 100 metres Butterfly,NaN

In [9]:
n3data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8390 entries, 31 to 271108
Data columns (total 15 columns):
ID        8390 non-null int64
Name      8390 non-null object
Sex       8390 non-null object
Age       8390 non-null float64
Height    8310 non-null float64
Weight    8308 non-null float64
Team      8390 non-null object
NOC       8390 non-null object
Games     8390 non-null object
Year      8390 non-null int64
Season    8390 non-null object
City      8390 non-null object
Sport     8390 non-null object
Event     8390 non-null object
Medal     1124 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.0+ MB

In [10]:
# calculate the ratio
(8390 * 100) / 13821

60.70472469430577

In [11]:
#3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.

In [12]:
n4data = data[data['Year'] == 2000]
n4data = n4data[n2data['Sex'] == "F"]
n4data["Height"].mean()

168.97290274684485

In [13]:
n4data["Height"].std()

9.460831918913273

In [14]:
# 4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?

In [16]:
n5data = data[data['Year'] == 2002]
n5data.sort_values(by='Weight', ascending=False).head() # this shows the man would be 14 years old

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN
129595,65246,Kevin Kuske,M,23.0,196.0,116.0,Germany-2,GER,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,Gold
270556,135315,Zsolt Zsombor,M,30.0,193.0,115.0,Hungary,HUN,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN
60488,30980,Dalibor uri,M,26.0,196.0,113.0,Serbia and Montenegro,SCG,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN
128125,64528,Pavel Kubina,M,24.0,196.0,113.0,Czech Republic,CZE,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN

In [17]:
#5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?

In [18]:
data[data["Name"] == "Pawe Abratkiewicz"] # only three are different

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
998,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1000,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
1002,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN

In [19]:
# 6. How many silver medals in tennis did Australia win at the 2000 Olympics?

In [20]:
n6data = data[data["Year"] == 2000]
n6data = n6data[n6data["Medal"] == "Silver"]
n6data = n6data[n6data["Sport"] == "Tennis"]
n6data = n6data[n6data["Team"] == "Australia"]
n6data # 2 medals

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

In [21]:
# 7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in Medal column.

In [22]:
n6data = data[data["Year"] == 2016]
n6data = n6data[n6data["Team"] == "Switzerland"]
n6data.dropna().info() # they got 11

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 12203 to 242890
Data columns (total 15 columns):
ID        11 non-null int64
Name      11 non-null object
Sex       11 non-null object
Age       11 non-null float64
Height    11 non-null float64
Weight    11 non-null float64
Team      11 non-null object
NOC       11 non-null object
Games     11 non-null object
Year      11 non-null int64
Season    11 non-null object
City      11 non-null object
Sport     11 non-null object
Event     11 non-null object
Medal     11 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.4+ KB

In [23]:
n7data = data[data["Year"] == 2016]
n7data = n7data[n7data["Team"] == "Serbia"]
n7data.dropna().info() # they got 54

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 4417 to 270370
Data columns (total 15 columns):
ID        54 non-null int64
Name      54 non-null object
Sex       54 non-null object
Age       54 non-null float64
Height    54 non-null float64
Weight    54 non-null float64
Team      54 non-null object
NOC       54 non-null object
Games     54 non-null object
Year      54 non-null int64
Season    54 non-null object
City      54 non-null object
Sport     54 non-null object
Event     54 non-null object
Medal     54 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 6.8+ KB

In [24]:
# Serbia won more medals than Switzerland in the Olympics of 2016
# So it's true that they won less medals.

In [25]:
#8. What age category did the fewest and the most participants of the 2014 Olympics belong to?

In [26]:
n8data = data[data["Year"] == 2014]

In [27]:
# 9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?

In [28]:
n9data = data[data["City"] == "Lake Placid"]
n9data = n9data[n9data["Season"] == "Summer"]
n9data.info() # no, it's not true, there were no Summer Olympics held in Lake Placid

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 15 columns):
ID        0 non-null int64
Name      0 non-null object
Sex       0 non-null object
Age       0 non-null float64
Height    0 non-null float64
Weight    0 non-null float64
Team      0 non-null object
NOC       0 non-null object
Games     0 non-null object
Year      0 non-null int64
Season    0 non-null object
City      0 non-null object
Sport     0 non-null object
Event     0 non-null object
Medal     0 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 0.0+ bytes

In [30]:
n10data = data[data["City"] == "Sankt Moritz"]
n10data = n10data[n10data["Season"] == "Winter"]
n10data.info() # yes, it's true, there were winter Olympics held in Sankt Moritz

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1657 entries, 935 to 270882
Data columns (total 15 columns):
ID        1657 non-null int64
Name      1657 non-null object
Sex       1657 non-null object
Age       1563 non-null float64
Height    238 non-null float64
Weight    159 non-null float64
Team      1657 non-null object
NOC       1657 non-null object
Games     1657 non-null object
Year      1657 non-null int64
Season    1657 non-null object
City      1657 non-null object
Sport     1657 non-null object
Event     1657 non-null object
Medal     224 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 207.1+ KB

In [31]:
# 10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?

In [32]:
n11data = data[data["Year"] == 2016]
n11data.Sport.unique() #36

array(['Weightlifting', 'Gymnastics', 'Athletics', 'Rowing', 'Taekwondo',
       'Handball', 'Boxing', 'Equestrianism', 'Cycling', 'Volleyball',
       'Diving', 'Shooting', 'Judo', 'Football', 'Synchronized Swimming',
       'Wrestling', 'Fencing', 'Swimming', 'Badminton', 'Rugby Sevens',
       'Table Tennis', 'Water Polo', 'Trampolining', 'Basketball',
       'Triathlon', 'Modern Pentathlon', 'Sailing', 'Beach Volleyball',
       'Golf', 'Rhythmic Gymnastics', 'Archery', 'Hockey', 'Canoeing',
       'Tennis'], dtype=object)

In [33]:
n12data = data[data["Year"] == 1996]

In [34]:
n12data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
32,13,Minna Maarit Aalto,F,30.0,159.0,55.5,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN
92,30,Pepijn Aardewijn,M,26.0,189.0,72.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Lightweight Double Sculls,Silver
97,33,Mika Lauri Aarnikka,M,28.0,187.0,76.0,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Men's Two Person Dinghy,NaN
100,36,Stefan Remco Aartsen,M,21.0,194.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Butterfly,NaN
101,36,Stefan Remco Aartsen,M,21.0,194.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Butterfly,NaN
102,36,Stefan Remco Aartsen,M,21.0,194.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN
105,37,Ann Kristin Aarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
138,50,Arvi Aavik,M,26.0,185.0,106.0,Estonia,EST,1996 Summer,1996,Summer,Atlanta,Wrestling,"Wrestling Men's Heavyweight, Freestyle",NaN
180,78,Salim Abanoz,M,26.0,NaN,NaN,Turkey,TUR,1996 Summer,1996,Summer,Atlanta,Judo,Judo Men's Lightweight,NaN
182,80,Jos Mara Abarca Plotas,M,22.0,186.0,83.0,Spain,ESP,1996 Summer,1996,Summer,Atlanta,Water Polo,Water Polo Men's Water Polo,Gold
219,106,Agostino Abbagnale,M,29.0,188.0,96.0,Italy,ITA,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Double Sculls,Gold
224,107,Carmine Abbagnale,M,34.0,182.0,90.0,Italy,ITA,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,NaN
233,111,Aqarab Abbas,M,22.0,190.0,88.0,Pakistan,PAK,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Men's Hammer Throw,NaN
269,140,"William ""Bill"" Abbott Jr.",M,42.0,172.0,80.0,Canada,CAN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Three Person Keelboat,NaN
280,147,Joanne Abbott,F,41.0,160.0,57.0,Canada,CAN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Three Person Keelboat,NaN
301,162,Hosam Abdallah,M,29.0,NaN,NaN,Egypt,EGY,1996 Summer,1996,Summer,Atlanta,Handball,Handball Men's Handball,NaN
367,204,Moustafa Abdel Naser,M,21.0,176.0,74.0,Libya,LBA,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Men's 400 metres,NaN
395,221,Sameh Abdel Waress Muhammad,M,24.0,NaN,NaN,Egypt,EGY,1996 Summer,1996,Summer,Atlanta,Handball,Handball Men's Handball,NaN
456,253,Jamal Abdi Hassan Abdullah,M,23.0,177.0,65.0,Qatar,QAT,1996 Summer,1996,Summer,Atlanta,Athletics,"Athletics Men's 3,000 metres Steeplechase",NaN
480,263,Hassane Abdou,M,23.0,185.0,67.0,Comoros,COM,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Men's 400 metres,NaN
488,268,Brahim Daoud Abdoulaye,M,25.0,NaN,71.0,Chad,CHA,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Men's 200 metres,NaN
496,276,Chairil Anwar Abdul Aziz,M,24.0,163.0,61.0,Malaysia,MAS,1996 Summer,1996,Summer,Atlanta,Hockey,Hockey Men's Hockey,NaN
502,279,Jefri Kiko Bolkiah Abdul Hakeem,M,23.0,172.0,90.0,Brunei,BRU,1996 Summer,1996,Summer,Atlanta,Shooting,Shooting Men's Skeet,NaN
536,306,Nabil Abdul Tahlak,M,39.0,NaN,NaN,United Arab Emirates,UAE,1996 Summer,1996,Summer,Atlanta,Shooting,"Shooting Men's Air Rifle, 10 metres",NaN
574,331,Wan Azlan Abdullah,M,21.0,188.0,77.0,Malaysia,MAS,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Individual Medley,NaN
575,331,Wan Azlan Abdullah,M,21.0,188.0,77.0,Malaysia,MAS,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 400 metres Individual Medley,NaN
576,331,Wan Azlan Abdullah,M,21.0,188.0,77.0,Malaysia,MAS,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN
579,332,Zarinah Abdullah,F,25.0,NaN,NaN,Singapore,SGP,1996 Summer,1996,Summer,Atlanta,Badminton,Badminton Women's Singles,NaN
584,336,Arif Yadulla Abdullayev,M,27.0,164.0,60.0,Azerbaijan,AZE,1996 Summer,1996,Summer,Atlanta,Wrestling,"Wrestling Men's Bantamweight, Freestyle",NaN
586,337,Mukhammad Kadyr Abdullayev,M,22.0,169.0,63.0,Uzbekistan,UZB,1996 Summer,1996,Summer,Atlanta,Boxing,Boxing Men's Lightweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270521,135298,"Radomra ""Radka"" Zrubkov",F,25.0,169.0,60.0,Slovakia,SVK,1996 Summer,1996,Summer,Atlanta,Tennis,Tennis Women's Doubles,NaN
270629,135352,Attila Zubor,M,21.0,191.0,92.0,Hungary,HUN,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Freestyle,NaN
270630,135352,Attila Zubor,M,21.0,191.0,92.0,Hungary,HUN,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Individual Medley,NaN
270631,135352,Attila Zubor,M,21.0,191.0,92.0,Hungary,HUN,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN
270661,135361,Abdullah Sulaiman Zubromawi,M,22.0,176.0,NaN,Saudi Arabia,KSA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,NaN
270683,135371,Franco Zucchi,M,30.0,185.0,89.0,Italy,ITA,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,NaN
270723,135390,Sinia ugi,M,26.0,NaN,NaN,Serbia and Montenegro,SCG,1996 Summer,1996,Summer,Atlanta,Diving,Diving Men's Springboard,NaN
270725,135392,Nida Zuhal,F,21.0,NaN,NaN,Turkey,TUR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Butterfly,NaN
270726,135392,Nida Zuhal,F,21.0,NaN,NaN,Turkey,TUR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Butterfly,NaN
270735,135399,Daugvinas Zujus,M,20.0,182.0,65.0,Lithuania,LTU,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Men's 50 kilometres Walk,NaN
270740,135401,Eurelijus ukauskas,M,22.0,218.0,115.0,Lithuania,LTU,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Men's Basketball,Bronze
270743,135402,Mindaugas ukauskas,M,20.0,201.0,100.0,Lithuania,LTU,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Men's Basketball,Bronze
270764,135411,Alex Zlle,M,28.0,185.0,72.0,Switzerland,SUI,1996 Summer,1996,Summer,Atlanta,Cycling,"Cycling Men's Road Race, Individual",NaN
270765,135411,Alex Zlle,M,28.0,185.0,72.0,Switzerland,SUI,1996 Summer,1996,Summer,Atlanta,Cycling,Cycling Men's Individual Time Trial,NaN
270786,135422,"Andreas ""Andi"" Zumbach",M,26.0,173.0,66.0,Switzerland,SUI,1996 Summer,1996,Summer,Atlanta,Shooting,"Shooting Men's Air Rifle, 10 metres",NaN
270787,135422,"Andreas ""Andi"" Zumbach",M,26.0,173.0,66.0,Switzerland,SUI,1996 Summer,1996,Summer,Atlanta,Shooting,"Shooting Men's Small-Bore Rifle, Three Positio...",NaN
270788,135422,"Andreas ""Andi"" Zumbach",M,26.0,173.0,66.0,Switzerland,SUI,1996 Summer,1996,Summer,Atlanta,Shooting,"Shooting Men's Small-Bore Rifle, Prone, 50 metres",NaN
270792,135425,Matthias Zumstein,M,23.0,194.0,98.0,Switzerland,SUI,1996 Summer,1996,Summer,Atlanta,Handball,Handball Men's Handball,NaN
270803,135433,David Santos Zuniga,M,28.0,165.0,62.0,United States,USA,1996 Summer,1996,Summer,Atlanta,Wrestling,"Wrestling Men's Featherweight, Greco-Roman",NaN
270809,135437,"Mara Teresa ""Maite"" Ziga Domnguez",F,31.0,167.0,55.0,Spain,ESP,1996 Summer,1996,Summer,Atlanta,Athletics,"Athletics Women's 1,500 metres",NaN
270920,135484,Nikolay Vladimirovich Zuyev,M,29.0,180.0,83.0,Russia,RUS,1996 Summer,1996,Summer,Atlanta,Badminton,Badminton Mixed Doubles,NaN
270921,135484,Nikolay Vladimirovich Zuyev,M,29.0,180.0,83.0,Russia,RUS,1996 Summer,1996,Summer,Atlanta,Badminton,Badminton Men's Doubles,NaN
270933,135487,Vladimir Anatolyevich Zuyev,M,35.0,NaN,NaN,Belarus,BLR,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Two Person Keelboat,NaN
270961,135498,Denis vegelj,M,24.0,NaN,NaN,Slovenia,SLO,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxless Fours,NaN
270969,135501,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,35.0,183.0,100.0,Belarus,BLR,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Women's Discus Throw,Bronze
270977,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,25.0,172.0,60.0,Belarus,BLR,1996 Summer,1996,Summer,Atlanta,Tennis,Tennis Women's Singles,NaN
270978,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,25.0,172.0,60.0,Belarus,BLR,1996 Summer,1996,Summer,Atlanta,Tennis,Tennis Women's Doubles,NaN
271016,135523,"Ronald Ferdinand ""Ron"" Zwerver",M,29.0,200.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Men's Volleyball,Gold
271032,135535,Claudia Antoinette Zwiers,F,22.0,181.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Judo,Judo Women's Middleweight,Bronze
271049,135545,Henk Jan Zwolle,M,31.0,197.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,Gold