In [3]:
import pandas as pd

In [4]:
PATH = './data/athlete_events.csv'

In [5]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
# 1. How old were the youngest male and female participants of the 1996 Olympics?

In [9]:
ndata = data[data['Year'] == 1996]

In [19]:
ndata[ndata['Sex'] == "M"].sort_values(by='Age', ascending=True).head() # this shows the man would be 14 years old

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
87416,44326,Gwon Gyeong-Min,M,14.0,165.0,60.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Diving,Diving Men's Platform,NaN
170448,85647,Ng Sui,M,15.0,NaN,NaN,Hong Kong,HKG,1996 Summer,1996,Summer,Atlanta,Diving,Diving Men's Platform,NaN
139132,69887,"Keng Liat ""Alex"" Lim",M,15.0,178.0,63.0,Malaysia,MAS,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Backstroke,NaN
139133,69887,"Keng Liat ""Alex"" Lim",M,15.0,178.0,63.0,Malaysia,MAS,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Backstroke,NaN
80392,40801,Daniel A. Glomb,M,15.0,178.0,80.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Three Person Keelboat,NaN

In [20]:
ndata[ndata['Sex'] == "F"].sort_values(by='Age', ascending=True).head() # this shows the man would be 12 years old

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
93850,47506,Hem Reaksmey,F,12.0,175.0,65.0,Cambodia,CAM,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Breaststroke,NaN
79034,40133,Cerian Gibbes,F,13.0,NaN,NaN,Trinidad and Tobago,TTO,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Breaststroke,NaN
78869,40035,Mira Ghniem,F,13.0,NaN,NaN,Jordan,JOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Individual Medley,NaN
172477,86657,No Ju-Hui,F,13.0,172.0,55.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Breaststroke,NaN
33106,17045,Byeon Hye-Yeong,F,13.0,166.0,61.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN

In [21]:
# 2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.

In [38]:
n2data = data[data['Year'] == 2000]

In [45]:
n2data.drop_duplicates(inplace=False).info() # 100% is 13821. 13821 are females and males

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13821 entries, 31 to 271108
Data columns (total 15 columns):
ID        13821 non-null int64
Name      13821 non-null object
Sex       13821 non-null object
Age       13820 non-null float64
Height    13698 non-null float64
Weight    13695 non-null float64
Team      13821 non-null object
NOC       13821 non-null object
Games     13821 non-null object
Year      13821 non-null int64
Season    13821 non-null object
City      13821 non-null object
Sport     13821 non-null object
Event     13821 non-null object
Medal     2004 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.7+ MB

In [46]:
n2data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
31,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
33,13,Minna Maarit Aalto,F,34.0,159.0,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN
57,18,Timo Antero Aaltonen,M,31.0,189.0,130.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's Shot Put,NaN
81,23,Fritz Aanes,M,22.0,187.0,89.0,Norway,NOR,2000 Summer,2000,Summer,Sydney,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN
93,30,Pepijn Aardewijn,M,30.0,189.0,72.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Double Sculls,NaN
103,36,Stefan Remco Aartsen,M,25.0,194.0,78.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 100 metres Butterfly,NaN
104,36,Stefan Remco Aartsen,M,25.0,194.0,78.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Butterfly,NaN
146,53,Talaat Abada,M,24.0,172.0,58.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Taekwondo,Taekwondo Men's Flyweight,NaN
165,68,Pablo Martn Abal,M,23.0,178.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 100 metres Butterfly,NaN
166,68,Pablo Martn Abal,M,23.0,178.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN
168,70,Jess Iory Aball Martnez,M,26.0,167.0,65.0,Cuba,CUB,2000 Summer,2000,Summer,Sydney,Diving,Diving Men's Platform,NaN
178,76,Jouan Patrice Abanda Etong,M,22.0,185.0,82.0,Cameroon,CMR,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Gold
184,82,Enrique Abaroa Martnez,M,26.0,183.0,75.0,Mexico,MEX,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
220,106,Agostino Abbagnale,M,34.0,188.0,96.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Quadruple Sculls,Gold
242,118,Mahmoud Abbas,M,22.0,165.0,65.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Men's Road Race, Individual",NaN
247,123,Sohail Abbas,M,25.0,178.0,80.0,Pakistan,PAK,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
259,131,Tran Abbasova,F,33.0,159.0,53.0,Azerbaijan,AZE,2000 Summer,2000,Summer,Sydney,Weightlifting,Weightlifting Women's Featherweight,NaN
262,134,Christian Abbiati,M,23.0,192.0,90.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,NaN
264,136,Alessandro Abbio,M,29.0,195.0,85.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,NaN
270,140,"William ""Bill"" Abbott Jr.",M,46.0,172.0,80.0,Canada,CAN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Mixed Three Person Keelboat,NaN
285,152,Matt Abbott,M,34.0,185.0,91.0,Canada,CAN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Mixed Three Person Keelboat,NaN
288,155,Mohamed Ibrahim Abd El-Fatah Mohamed,M,22.0,185.0,98.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN
318,171,Mahmoud Abdel Aziz,M,25.0,174.0,70.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Volleyball,Volleyball Men's Volleyball,NaN
319,172,Mohamed Abdel Ellah,M,32.0,168.0,68.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Shooting,"Shooting Men's Air Rifle, 10 metres",NaN
324,177,Mohamed Abdel Fattah,M,23.0,174.0,69.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Men's Road Race, Individual",NaN
329,180,Heba Abdel Gawad,F,18.0,154.0,48.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Synchronized Swimming,Synchronized Swimming Women's Duet,NaN
331,181,Sara Abdel Gawad,F,18.0,153.0,46.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Synchronized Swimming,Synchronized Swimming Women's Duet,NaN
390,216,Kamal Abdel Rehim,M,26.0,190.0,95.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Coxless Fours,NaN
391,217,Reskalla Mohamed Abdel Rehim,M,22.0,165.0,48.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Light-Flyweight,NaN
392,218,Ahmed Ali Abdel Samad,M,27.0,195.0,95.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Super-Heavyweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270562,135321,Hedda zu Putlitz,F,35.0,188.0,71.0,Germany,GER,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Women's Mountainbike, Cross-Country",NaN
270632,135352,Attila Zubor,M,25.0,191.0,92.0,Hungary,HUN,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 50 metres Freestyle,NaN
270633,135352,Attila Zubor,M,25.0,191.0,92.0,Hungary,HUN,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 100 metres Freestyle,NaN
270634,135352,Attila Zubor,M,25.0,191.0,92.0,Hungary,HUN,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Freestyle,NaN
270635,135352,Attila Zubor,M,25.0,191.0,92.0,Hungary,HUN,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN
270645,135358,Oleksandr Valeriyovych Zubrikhin,M,25.0,180.0,75.0,Ukraine,UKR,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,NaN
270712,135382,Eli Zuckerman,M,27.0,177.0,60.0,Israel,ISR,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Men's Two Person Dinghy,NaN
270728,135394,Niels Zuidweg,M,26.0,190.0,90.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Water Polo,Water Polo Men's Water Polo,NaN
270729,135395,"Wilhelmus Gerardus ""Wilco"" Zuijderwijk",M,30.0,191.0,90.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
270730,135395,"Wilhelmus Gerardus ""Wilco"" Zuijderwijk",M,30.0,191.0,90.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Cycling,Cycling Men's Points Race,NaN
270731,135396,Martijn Hendrik Zuijdweg,M,23.0,186.0,83.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Freestyle,NaN
270732,135396,Martijn Hendrik Zuijdweg,M,23.0,186.0,83.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Bronze
270736,135399,Daugvinas Zujus,M,24.0,182.0,65.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's 50 kilometres Walk,NaN
270741,135401,Eurelijus ukauskas,M,27.0,218.0,115.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Bronze
270766,135411,Alex Zlle,M,32.0,185.0,72.0,Switzerland,SUI,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Men's Road Race, Individual",NaN
270767,135411,Alex Zlle,M,32.0,185.0,72.0,Switzerland,SUI,2000 Summer,2000,Summer,Sydney,Cycling,Cycling Men's Individual Time Trial,NaN
270775,135417,Fabiola Zuluaga Amado,F,21.0,171.0,65.0,Colombia,COL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
270776,135417,Fabiola Zuluaga Amado,F,21.0,171.0,65.0,Colombia,COL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
270820,135444,Juan Zunzunegui Guimerans,M,24.0,177.0,70.0,Spain,ESP,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Double Sculls,NaN
270847,135458,Rami Zur,M,23.0,175.0,77.0,Israel,ISR,2000 Summer,2000,Summer,Sydney,Canoeing,"Canoeing Men's Kayak Doubles, 500 metres",NaN
270848,135458,Rami Zur,M,23.0,175.0,77.0,Israel,ISR,2000 Summer,2000,Summer,Sydney,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",NaN
270970,135501,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,39.0,183.0,100.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's Discus Throw,Gold
270979,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
270980,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
271008,135520,Julia Zwehl,F,24.0,167.0,60.0,Germany,GER,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Women's Hockey,NaN
271011,135522,"Klaas Erik ""Klaas-Erik"" Zwering",M,19.0,189.0,80.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Backstroke,NaN
271012,135522,"Klaas Erik ""Klaas-Erik"" Zwering",M,19.0,189.0,80.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271105,135565,Fernando scar Zylberberg,M,23.0,168.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN

In [54]:
n3data = n2data[n2data['Sex'] == "M"].drop_duplicates(inplace=False)

In [55]:
n3data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
31,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
57,18,Timo Antero Aaltonen,M,31.0,189.0,130.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's Shot Put,NaN
81,23,Fritz Aanes,M,22.0,187.0,89.0,Norway,NOR,2000 Summer,2000,Summer,Sydney,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN
93,30,Pepijn Aardewijn,M,30.0,189.0,72.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Double Sculls,NaN
103,36,Stefan Remco Aartsen,M,25.0,194.0,78.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 100 metres Butterfly,NaN

In [56]:
n3data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8390 entries, 31 to 271108
Data columns (total 15 columns):
ID        8390 non-null int64
Name      8390 non-null object
Sex       8390 non-null object
Age       8390 non-null float64
Height    8310 non-null float64
Weight    8308 non-null float64
Team      8390 non-null object
NOC       8390 non-null object
Games     8390 non-null object
Year      8390 non-null int64
Season    8390 non-null object
City      8390 non-null object
Sport     8390 non-null object
Event     8390 non-null object
Medal     1124 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.0+ MB

In [58]:
# calculate the ratio
(8390 * 100) / 13821

60.70472469430577